*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.bak
*.cache
*.ilk
*.log
*.sbr
*.bacpac
*.orig
packages/
[Bb]in
[Dd]ebug*/
obj/
[Rr]elease*/
_ReSharper*/
*.pubxml
PatientTransfer.Portal/Logs/log.txt
PatientTransfer.Portal/App_Data/Providers/*.dll
PatientTransfer.StatusService/Providers/*.dll
